y
y
{{ 'y' if zimbra_install_ldap else 'n' }}
{{ 'y' if zimbra_install_logger else 'n' }}
{{ 'y' if zimbra_install_mta else 'n' }}
{{ 'y' if zimbra_install_dnscache else 'n' }}
{{ 'y' if zimbra_install_snmp else 'n' }}
{{ 'y' if zimbra_install_store else 'n' }}
{{ 'y' if zimbra_install_apache else 'n' }}
{{ 'y' if zimbra_install_spell else 'n' }}
{{ 'y' if zimbra_install_memcached else 'n' }}
{{ 'y' if zimbra_install_proxy else 'n' }}
y
