AVDOMAIN="{{ zimbra_primary_domain }}"
AVUSER="admin@{{ zimbra_primary_domain }}"
CREATEADMIN="admin@{{ zimbra_primary_domain }}"
CREATEADMINPASS="{{ zimbra_admin_password }}"
CREATEDOMAIN="{{ zimbra_primary_domain }}"
DOCREATEADMIN="yes"
DOCREATEDOMAIN="yes"
DOTRAINSA="yes"
EXPANDMENU="no"
HOSTNAME="{{ zimbra_public_fqdn }}"
HTTPPORT="8080"
HTTPPROXY="TRUE"
HTTPPROXYPORT="80"
HTTPSPORT="8443"
HTTPSPROXYPORT="443"
IMAPPORT="7143"
IMAPPROXYPORT="143"
IMAPSSLPORT="7993"
IMAPSSLPROXYPORT="993"
INSTALL_WEBAPPS="service zimlet zimbra zimbraAdmin"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPAMAVISPASS="{{ zimbra_ldap_amavispass }}"
LDAPPOSTPASS="{{ zimbra_ldap_postpass }}"
LDAPROOTPASS="{{ zimbra_ldap_rootpass }}"
LDAPADMINPASS="{{ zimbra_ldap_adminpass }}"
LDAPREPPASS="{{ zimbra_ldap_preppass }}"
LDAPBESSEARCHSET="set"
LDAPHOST="{{ zimbra_ldap_host }}"
LDAPPORT="{{ zimbra_ldap_port }}"
LDAPREPLICATIONTYPE="master"
LDAPSERVERID="2"
MAILBOXDMEMORY="972"
MAILPROXY="TRUE"
MODE="https"
MYSQLMEMORYPERCENT="30"
POPPORT="7110"
POPPROXYPORT="110"
POPSSLPORT="7995"
POPSSLPROXYPORT="995"
PROXYMODE="https"
REMOVE="no"
RUNARCHIVING="no"
RUNAV="yes"
RUNCBPOLICYD="no"
RUNDKIM="yes"
RUNSA="yes"
RUNVMHA="no"
SERVICEWEBAPP="yes"
SMTPDEST="{{ zimbra_smtp_dest }}"
SMTPHOST="{{ zimbra_smtp_host }}"
SMTPNOTIFY="{{ zimbra_smtp_notify }}"
SMTPSOURCE="{{ zimbra_smtp_src }}"
SNMPNOTIFY="no"
SNMPTRAPHOST="{{ zimbra_public_fqdn }}"
SPELLURL="{{ zimbra_spell_url }}"
STARTSERVERS="yes"
SYSTEMMEMORY="3.8"
TRAINSAHAM="ham@{{ zimbra_primary_domain }}"
TRAINSASPAM="spam@{{ zimbra_primary_domain }}"
UIWEBAPPS="yes"
UPGRADE="yes"
USESPELL="yes"
VERSIONUPDATECHECKS="TRUE"
VIRUSQUARANTINE="virus-quarantine@{{ zimbra_primary_domain }}"
ZIMBRA_REQ_SECURITY="yes"
ldap_bes_searcher_password="{{ zimbra_ldap_bes_searcher_pass }}"
ldap_dit_base_dn_config="{{ zimbra_ldap_dit_basedn }}"
ldap_nginx_password="{{ zimbra_ldap_nginxpass }}"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/mailboxd/etc/keystore"
mailboxd_keystore_password="{{ zimbra_mailboxd_pass }}"
mailboxd_server="jetty"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/jre/lib/security/cacerts"
mailboxd_truststore_password="{{ zimbra_mailboxd_pass }}"
postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"
ssl_default_digest="sha256"
zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"
zimbraIPMode="ipv4"
zimbraMailProxy="TRUE"
zimbraMtaMyNetworks="127.0.0.0/8 [::1]/128 {{ zimbra_mynetwork }}"
zimbraPrefTimeZoneId="{{ timezone }}"
zimbraReverseProxyLookupTarget="TRUE"
zimbraVersionCheckNotificationEmail="admin@{{ zimbra_primary_domain }}"
zimbraVersionCheckNotificationEmailFrom="admin@{{ zimbra_primary_domain }}"
zimbraVersionCheckSendNotifications="TRUE"
zimbraWebProxy="TRUE"
zimbra_ldap_userdn="{{ zimbra_ldap_userdn }}"
zimbra_require_interprocess_security="1"
zimbraDNSMasterIP="8.8.8.8"
zimbraDNSTCPUpstream="no"
zimbraDNSUseTCP="yes"
zimbraDNSUseUDP="yes"
INSTALL_PACKAGES="zimbra-core zimbra-ldap zimbra-logger zimbra-mta zimbra-dnscache zimbra-snmp zimbra-store zimbra-apache zimbra-spell zimbra-memcached zimbra-proxy"
